// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
#section_info {
    width: 100%;
}

.continer_info_text {
    padding-top: 9rem;
    margin: auto;
    width: 80%;
    text-align: center;
    p {
        padding-top: 2rem;
    }
}

.continer_info_list_icon-info {
    list-style: none;
    text-align: center;
    display: flex;
    margin-top: 6rem;
    li {
        padding: 20px;
    }
}