// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
#section_info {
    width: 100%;
}

.continer_info_text {
    padding-top: 9rem;
    margin: auto;
    width: 80%;
    text-align: center;
    p {
        padding-top: 2rem;
    }
}

.continer_info_list_icon-info {
    list-style: none;
    text-align: center;
    display: flex;
    margin-top: 6rem;
    li {
        padding: 20px;
    }
}

#section_slider {
    width: 100%;
    display: flex;
    background: linear-gradient(rgba(255, 52, 2, 0.8), rgba(255, 52, 2, 0.8)), url(../../../assets/imgs/pattern-2.png);
    margin-top: 9rem;
    position: relative;
    height: 450px;
    .slider {
        position: absolute;
        width: 100%;
        top: -100px;
        .slide {
            width: 100%;
            display: flex;
            .slide_image {
                width: 100%;
                max-width: 750px;
                flex-basis: 50%;
            }
            .slide_information {
                text-align: center;
                margin-top: 8rem;
                flex-basis: 50%;
            }
        }
    }
}

#section_acordeon {
    width: 100%;
    margin-top: 16rem;
    .container {
        direction: rtl;
        width: 80%;
        margin: 0 auto;
        .acordeon_title {
            text-align: center;
            h2 {
                margin-bottom: 3rem;
            }
        }
        .acordeon_menu {
            ol {
                margin-top: 3rem;
                &>li {
                    border-top: solid 0.5px $color-acordeon-border;
                    .acordeon_menu_ol_view {
                        display: flex;
                        justify-content: space-between;
                        span.title {
                            margin-right: 20px;
                        }
                        span.icon:hover {
                            cursor: pointer;
                        }
                    }
                    .acordeon_menu_ol_desc {
                        display: none;
                        .desc-wraper {
                            display: flex;
                            .desc_img {
                                border: solid 3px $color-orange;
                                padding: 1rem;
                                margin: 3rem;
                            }
                            .desc_text {
                                margin-top: 3rem;
                            }
                        }
                    }
                }
            }
        }
    }
}