/**
 * Basic typography style for copy text
 */

.header_heading {
    @include fontMixin($main-font, $text-color, 72px, 600, 1.8);
}

.header_Pragraph {
    @include fontMixin($main-font, $text-color, 40px, 400, 1.5);
}

.menu_link {
    font-size: 50px;
    color: $color-white;
    text-decoration: none;
}

.menu-shoping-cart {
    font-size: 50px;
    color: $color-white;
    text-decoration: none;
}

#my-menu {
    @include fontMixin($main-font, $text-color, 20px, 400, 1.5);
}