/**
 * Basic typography style for copy text
 */

.header_heading {
    @include fontMixin($main-font, $text-color, 72px, 600, 1.8, rtl);
}

.header_Pragraph {
    @include fontMixin($main-font, $text-color, 30px, 400, 1.8, rtl);
}

.continer_info_text {
    h2 {
        @include fontMixin($main-font, $color-yellow, 30px, 600, 1.8, rtl);
    }
    p {
        @include fontMixin($main-font, $text-color, 15px, 400, 1.8, rtl);
    }
}

.continer_info_list {
    h3 {
        @include fontMixin($main-font, $color-yellow, 20px, 600, 1.8, rtl);
    }
    p {
        @include fontMixin($main-font, $text-color, 15px, 400, 1.8, rtl);
    }
    i {
        font-size: 60px;
        color: $color-orange;
    }
}

.menu_link {
    font-size: 50px;
    color: $color-white;
    text-decoration: none;
}

.menu-shoping-cart {
    font-size: 50px;
    color: $color-white;
    text-decoration: none;
}

#my-menu {
    @include fontMixin($main-font, $text-color, 20px, 400, 1.5, rtl);
}

.slide_information {
    h2 {
        @include fontMixin($main-font, $text-color, 62px, 700, 1.8, rtl);
    }
    h3 {
        @include fontMixin($main-font, $color-yellow, 40px, 400, 1.5, rtl);
    }
    p {
        @include fontMixin($main-font, $text-color, 20px, 400, 1.5, rtl);
    }
    a {
        @include fontMixin($main-font, $text-color, 20px, 400, 1.5, rtl);
        text-decoration: none;
        padding: 15px 35px;
        border: 3px solid $color-yellow;
        display: inline-block;
        margin-top: 3rem;
    }
}

#section_acordeon {
    .acordeon_title {
        h2 {
            @include fontMixin($main-font, $color-yellow, 50px, 600, 1.8, rtl);
        }
        p {
            @include fontMixin($main-font, $text-color, 15px, 400, 1.8, rtl);
        }
    }
    .acordeon_menu {
        ol {
            @include fontMixin($icon-font, $color-orange, 60px, 400, 1.8, rtl);
        }
        .acordeon_menu_ol_view {
            span.title {
                @include fontMixin($main-font, $color-yellow, 40px, 400, 1.8, rtl);
            }
            span.icon {
                @include fontMixin($icon-font, $text-color, 72px, 400, 1.8, rtl);
            }
        }
        .acordeon_menu_ol_desc {
            p {
                @include fontMixin($main-font, $text-color, 15px, 400, 1.8, rtl);
            }
            li {
                @include fontMixin($main-font, $color-orange, 15px, 400, 1.8, rtl);
            }
        }
    }
}