// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
$main-font: vazir;
$text-color:whitesmoke;
$color-white: white;
$color-black: black;
$color-dark: #151515;
$color-yellow:#fdbc2c;
$color-orange: #D94F2B;